@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-display: 'Poppins', sans-serif;
  --font-secondary: 'Cairo', sans-serif;
  --color-background01: #101010;
  --color-background02: #19191B;
  --color-borders: #393A40;
  --color-text: #EEEEF0;
  --color-contrast: #0BD559;
  --color-contrast-100: #0bd5589b;
  --color-error:#fd8083;
  --breakpoint-3xl: 1920px;
}

@layer base {
    html{
        font-family: var(--font-display);
    }
    body{
        background-color: var(--color-background01);
        overflow-x: hidden;
    }
}

.input-box{
    @apply w-full flex justify-between items-center gap-3 text-text bg-background02 px-4 py-3 mb-4 mt-3 border border-borders rounded-md outline-none;
}

.btn-primary{
    @apply w-full h-12 bg-contrast-100 text-white rounded-md cursor-pointer;
}

